repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-ast
      - id: check-json
        types: [text]
        files: \.(json|ipynb)$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        name: ruff lint (.py)
        args: [--fix, --show-fixes]
        types_or: [python]
      - id: ruff
        name: ruff isort (.ipynb)
        args: [--select, I, --fix]
        types_or: [jupyter]
      - id: ruff-format
        types_or: [python, jupyter]
  - repo: https://github.com/rbubley/mirrors-prettier # Update mirror as official mirror is deprecated
    rev: v3.8.0
    hooks:
      - id: prettier
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
        exclude: images/logo.ipynb
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          [
            "--option",
            "array_auto_collapse=false",
            "--option",
            "align_comments=false",
          ]
